<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.web.hotel_info.mapper.HotelInfoMapper">
    <select id="getList" resultType="com.itmk.web.hotel_info.entity.HotelInfo">
        select h.*,t.`name` as type_name
        from hotel_info as h
        left join hotel_type as t on t.type_id= h.type_id
        where 1=1
        <if test="parm.infoName != null and parm.infoName !=''">
            and h.info_name like concat('%',#{parm.infoName},'%')
        </if>
        order by h.order_num desc
    </select>
</mapper>