<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.web.hotle_room.mapper.HotleRoomMapper">
    <select id="getRoomList" resultType="com.itmk.web.hotle_room.entity.DeskRoom">
        select rm.*,rn.type_id,rn.info_name,iod.name from hotel_room as rm
        inner join hotel_info as rn on rm.info_id = rn.info_id
        left join into_order iod on iod.room_id = rm.room_id and iod.status = '1'
        where 1=1
         <if test="parm.typeId != null and parm.typeId !=''">
            and rn.type_id =#{parm.typeId}
        </if>
        <if test="parm.roomCode != null and parm.roomCode !=''">
            and rm.room_code =#{parm.roomCode}
        </if>
        <if test="parm.bookStatus != null and parm.bookStatus !=''">
            and rm.book_status =#{parm.bookStatus}
        </if>
        order by rm.room_code asc
    </select>
    <select id="getTotal" resultType="com.itmk.web.hotle_room.entity.TotalVo">
        select
        count(rm.room_id) as total_count,
        sum(case when rm.book_status = '0' then 1 else 0 end) as no_book_count,
        sum(case when rm.book_status = '1' then 1 else 0 end) as has_book_count,
        sum(case when rm.book_status = '2' then 1 else 0 end) as has_into_count,
        sum(case when rm.book_status = '3' then 1 else 0 end) as has_repir_count,
        sum(case when rm.book_status = '4' then 1 else 0 end) as has_stop_count
from hotel_room as rm


    </select>
</mapper>