<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.wxapi.hotel_service.mapper.HotelServiceMapper">
    <select id="getList" resultType="com.itmk.wxapi.hotel_service.entity.HotelService">
        select hs.* from hotel_info_service as his
        inner join hotel_service as hs on hs.service_id = his.service_id
        where his.info_id =#{infoId}
    </select>
</mapper>